<div class="container">
  <style type="text/css">
    @font-face {
        font-family: "My Custom Font";
        src: url('./data/titlefont.ttf') format("truetype");
    }
    p.customfont { 
        font-family: "My Custom Font", Verdana, Tahoma;
        font-size: 80px;
    }
    </style>
    <p class="customfont">ToDo Or Not ToDo?</p>
  <app-todotabs>
    <app-todotab tabTitle="All tasks" tabStatus = "all" ></app-todotab>
    <app-todotab tabTitle="Important" tabStatus = "important"></app-todotab>
    <app-todotab tabTitle="Urgent" tabStatus = "urgent"></app-todotab>
    <app-todotab tabTitle="Done" tabStatus = "done"></app-todotab>
  </app-todotabs>
</div>
